*
!.gitignore
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/vm
!wp-content/themes/vm/*
!wp-content/themes/vm/**/*
!vite.config.js
!package.json
!postcss.config.js