@use "../utils/variables" as *;


.contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;


  .form {
    width: 100%;
    max-width: 12.5rem;
  }
  iframe{
    width: 100%;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;


    .form {
      max-width: 25rem;
    }

    .btn:hover {
      background-color: ($header-color, 10%);
    }
  }


  .contact__form,
  .coord_wrapper {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.05);
    padding: 2rem;
    flex: 1;
    max-width: 31.25rem;
  }

  .contact__form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .coord_wrapper {
    background-color: $background-color;
  }

  .form__fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .field__label {
    font-weight: 600;
    margin-bottom: 0.25rem;
    display: block;
    color: #1e4620;
    font-family: $font-body;
  }

  .field__input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccefdc;
    border-radius: 0.5rem;
    background-color: #f1fcf5;
    font-family: $font-body;
    font-size: 1rem;
  }

  textarea.field__input {
    min-height: 6.25rem;
    resize: none;
  }

  .form__submit {
    margin-top: 1rem;
    text-align: center;
  }

  .btn {
    padding: 0.75rem 2rem;
    background-color: $header-color;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s ease;

  }

  .contact__success {
    color: $header-color;
    font-weight: bold;
  }

  .coord {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      font-size: 1.25rem;
      color: $text-color;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &::before {
        content: "📍";
      }
    }

    span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-family: $font-body;
      color: $text-color;
      font-size: 0.95rem;

      &:nth-child(2)::before {
        content: "📧";
      }

      &:nth-child(3)::before {
        content: "📞";
      }
    }
  }
}
