@use "../utils/variables" as *;

.section__title {
  font-family: $font-title;
  font-size: 1.25rem;
  color:$text-color;
  font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.Dons::before {
    content: "🤝";
    font-size: 1.25rem;
  }

  &.dons_coord::before {
    content: "📍";
    font-size: 1.25rem;
  }
}
.section.dons{
  margin-top: 5rem;
}


