@use "../utils/variables" as *;

.bottom {
  font-family: $font-title;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: $header-color;
  padding: 0.75rem 1.25rem;
}
span{
  display: block;
}
.bottom_title {
  font-family:$font-title;
}
.section_container{
  text-align: center;
  line-height: 1.5;
}
.bottom_title{
  font-weight: 700;
}

.bottom_list {
  list-style-type: none;
  gap: 0.625rem;
  line-height: 1.25rem;
}

.bottom_list > li::before {
  list-style-type: none;
  content: " ";
}

.logo_fb {
  fill: #0f0f0f;
  fill-rule: evenodd;
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  .bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  .section_container{
    text-align: left;
  }
}
