@use "../utils/variables" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: $header-color;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  gap: 1rem;
  padding: 20px;
}

.header__toggle {
  display: none;
}

.header__burger {
  display: flex;
  flex-direction: column;
  gap: 0.313rem;
  cursor: pointer;
  position: absolute;
  left: 1.25rem;
  z-index: 1001;

  span {
    width: 1.563rem;
    height: 0.188rem;
    background: $text-color;
  }
}

.header__nav {
  position: absolute;
  top: 2.5rem;
  left: 0;
  background:$header-color;
  width: 50%;
  height: 0;
  z-index: 0;
  overflow: hidden;
  display: flex;
}

.header__toggle:checked ~ .header__nav {
  height: calc(100vh - 2.5rem);
  z-index: 999;
  display: flex;
}

.header__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  justify-content: space-around;
}

.header__item {
  width: 100%;
  position: relative;
}

.header__link {
  font-family: $font-title;
  display: block;
  text-align: left;
  line-height: 1.5;
  padding-bottom: 0.625rem;
  font-size: 1rem;
  color: $text-color;
  text-decoration: none;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.header__submenu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  position: relative;
  padding: 0.5rem 0 0 1rem;
  border-left: 0.125rem solid $text-color;
}

.header__sublink {
  padding: 0.5rem 0;
  text-decoration: none;
  color: $text-color;
  display: block;
  font-size: 1rem;
}

.header__submenu-toggle {
  display: none;
}

.header__submenu-toggle:checked + .header__link + .header__submenu {
  display: flex;
  max-height: 31.25rem;
  opacity: 1;
}

.header__icon-toggle {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.header__submenu-toggle:checked + .header__link .header__icon-toggle {
  transform: rotate(45deg);
}


.header__link--has-submenu::after {
  content: " ▼";
  font-size: 0.6rem;
  margin-left: 5px;
  display: none;
  vertical-align: middle;
}

.site__container {
  margin-top: 2.5rem;
}
 .st0 {
   fill: #539fb7;
 }

.st1 {
  fill: #1d1b17;
}

.st2 {
  fill: #f7d986;
}

.st3 {
  fill: #395e94;
}

.st4 {
  fill: none;
  stroke: #a78a7f;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.st5 {
  fill: #b3d7dd;
}


@media (min-width: 768px) {
  .header__burger,
  .header__toggle,
  .header__icon-toggle {
    display: none;
  }

  .header__link--has-submenu::after {
    display: inline-block;
  }

  .header__container {
    justify-content: space-around;
    height: 2.5rem;
    padding: 1.25rem;
  }

  .header__nav {
    position: relative;
    display: flex;
    top: 0;
    width: 100%;
    overflow: visible;
  }

  .header__menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 0.625rem;
    flex: 1;
  }

  .header__link {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }

  .header__item {
    position: relative;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .header__submenu {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    top: 100%;
    min-width: 9.375rem;
    background: $background-color;
    border-left: none;
    box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
    padding: 3px ;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    z-index: 1001;
    text-align: center;
  }

  .header__submenu-toggle:checked + .header__link + .header__submenu {
    display: flex;
    max-height: 31.25rem;
    opacity: 1;
  }

  .header__sublink:hover {
    background-color: darken($background-color, 5%);
  }
}
