@use "../utils/variables" as *;

.section-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.stage__headline {
  display: block;
  color: $text-color;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1rem;
  text-align: center;
}

ul {
  font-family: Raleway, sans-serif, Helvetica, Arial;
  font-size: 1rem;
  line-height: 1.5;
}

li::before {
  content: "-";
  margin-right: 2px;
}


.section {
  background: $background-color;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section__title {
  font-family: $font-title;
  font-size: 1.5rem;
  color:$text-color;
  font-weight: 700;
  margin-bottom: 1rem;

  &::before {
    content: "🏠";
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }

  &.parent::before {
    content: "🫶";
  }

  &.mission::before {
    content: "📋";
  }

  &.collab::before {
    content: "🧩";
  }

  &.sanc::before {
    content: "⚖️";
  }

  &.educ::before {
    content: "📚";
  }

  &.soc::before {
    content: "🗣️";
  }

  &.resp::before {
    content: "🎯";
  }

  &.aut::before {
    content: "🧭";
  }

  &.vac::before {
    content: "📆";
  }

  &.thx::before {
    content: "🙏";
  }
}

.section__content {
  font-family: "Raleway", serif, Helvetica, Arial;
  font-size: 1rem;
  color: $text-color;
  margin-bottom: 1rem;
}

.section__text {
  margin-bottom: 1rem;
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.5;
}


/* Gallery */
.section__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  width: 100%;
  margin-top: 2rem;
}

.section__gallery-item {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
}

.gallery_flex_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin-top: 60px;
}

.img_gallery {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.div_container {
  flex: 1 1 ;
  box-sizing: border-box;
  margin-bottom: 75px;
  display: block;
}

.div_title_img {
  font-size: 2rem;
  font-family: $font-title;
  margin: 80px 20px;
  text-align: center;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .section-group {
    grid-template-columns: 1fr;
  }
  .stage__headline {
    font-size: 2rem;
    margin-top: 80px;
  }

  .section {
    max-width: 100%;
  }
  .div_title_img {
    font-size: 2rem;
    text-align: left;
  }
}